---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="mx-auto mt-8 p-4 max-w-[70ch]">
        <h1 class="mb-8 text-4xl text-rcabney dark:text-zinc-200 font-bold font-serif">About Me</h1>
        <div class="prose mb-4">
            <p>
                Howdy, I'm Ryan and I've been making cool stuff out of pixels
                for a long time now.
            </p>
            <p>
                I got my first computer as a kid, an old Apple IIc, and it was
                there that I developed a love for making things.
            </p>
            <p>
                I'm also a former sailor. I've been completely around the world.
                My first lap was completed before I turned twenty! I spent six
                years in the Navy and got to see a lot of amazing places and
                people.
            </p>
            <p>
                After I got out, I got one of those 'real jobs' and blinked as
                ten years went by. Funny how that happens. Anyways, the
                recession hits and while we're all miserable, watching our
                401k's plummet, I asked myself a simple question.
            </p>
            <p>
                <em>Why am I doing this?</em>
            </p>
            <p>
                I love making things, and by things I don't mean pivot tables.
                (Apologies to any excel-lovers out there.) I took some time to
                reflect about things that I enjoyed doing, and it all came back
                to making stuff on the old computer. So I decided to career
                change. I had all this GI Bill money from the service waiting
                for me and it was time to put it to use.
            </p>
            <p>
                Since then I've worked at a couple of really big companies in
                addition to freelance work.
            </p>
            <p>
                I'm not necessarily looking for my next opportunity at the
                moment, but am always willing to listen if you're interested in
                hiring me. So, if you've made it this far and would like to{" "}
                <a class="text-blue-700" href="/resume/">check out my resume</a> that'd be great.
            </p>
        </div>
    </section>
</Layout>
