---
import { getPortfolioItems } from "../client/api";
import Layout from "../layouts/Layout.astro";
const portfolioItems = await getPortfolioItems();
import PortfolioList from "../components/PortfolioList.astro";
---

<Layout>
    <div class="max-w-7xl mx-auto p-4 mt-8">
        <h1 class="mb-0 text-4xl font-serif font-bold text-rcabney dark:text-zinc-200 leading-normal">
            Ryan Abney,<br />
            Front-End Developer and Designer
        </h1>
    </div>
    <PortfolioList portfolioItems={portfolioItems} />
</Layout>
