---
import { Image } from 'astro:assets'
import linkedIn from '../images/linkedin.svg'
import github from '../images/github.svg'
---
<footer class="text-white bg-black">
    <div class="max-w-7xl my-0 mx-auto py-8 px-4 flex justify-between">
      <a href="/" class="text-white no-underline">
        © {new Date().getFullYear()}
        {` `}RCAbney
      </a>
      <ul class="m-0 p-0 list-none">
        <li class="inline-block w-5 ml-2 opacity-80">
          <a href="https://github.com/rcabney">
            <Image src={github} alt="github logo" />
          </a>
        </li>
        <li class="inline-block w-5 ml-2 opacity-80">
          <a href="https://www.linkedin.com/in/ryanabney/">
            <Image src={linkedIn} alt="linkedin logo" />
          </a>
        </li>
      </ul>
    </div>
  </footer>