---

---
<footer>
    <div class="footer-content">
      <a href="/" class="footer-link">
        © {new Date().getFullYear()}
        {` `}RCAbney
      </a>
      <ul class="social-links">
        <li>
          <a href="https://github.com/rcabney">
            <img src="https://placehold.it/50x50" alt="github logo" />
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ryanabney/">
            <img src="https://placehold.it/50x50" alt="linkedin logo" />
          </a>
        </li>
      </ul>
    </div>
  </footer>