---
import { Image } from 'astro:assets';
import rcabneyLogo from '../images/rcabney-logo-hz.png';
---
<header class="bg-black border-b-zinc-500 border-b-4">
    <nav class="flex justify-between items-center p-4 max-w-7xl my-0 mx-auto">
      <a class="leading-[0] no-underline m-0" href="/">
        <Image src={rcabneyLogo} alt="RCAbney Logo" width={200} height={37} />
      </Link>

      <ul class="list-none flex justify-center p-0">
        <li>
          <a class="text-white p-2 no-underline"href="/about/">About</a>
        </li>
        <li>
          <a class="text-white p-2 no-underline"href="/portfolio/">Portfolio</a>
        </li>
        <li>
          <a class="text-white p-2 no-underline"href="/resume">Resume</a>
        </li>
      </ul>
    </nav>
  </header>