---

---
<header>
    <nav>
      <a href="/">
        <image src="https://placehold.it/200x37" alt="RCAbney Logo" width={200} height={37} />
      </Link>

      <ul class="nav-links">
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
          <a href="/portfolio/">Portfolio</a>
        </li>
        <li>
          <a href="/resume">Resume</a>
        </li>
      </ul>
    </nav>
  </header>